.advantages {
  display: flex;
  gap: 31rem;
  margin-top: 72rem;
  @include tablet{
    flex-wrap: wrap;
    justify-content: center;
  }
}
.advantages-item {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 270rem;
  &__info {
    display: flex;
    align-items: center;
    gap: 25rem;
  }

  &__name {
    color: var(--c-title);
    font-size: 20rem;
    font-weight: 700;
    line-height: 28rem;
    margin-bottom: 15rem;
  }

  &__desc {
    color: var(--c-desc);
    font-size: 15rem;
    font: var(--desc);
    width: 210rem;
  }
}
