.hero {
  display: flex;
  align-items: center;
  gap: 88rem;
  margin-top: 84rem;
  @include tablet{
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__mask {
    color: rgb(255, 184, 0);
    font-family: var(--second-family);
    font-size: 14rem;
    font-weight: 500;
    line-height: 30rem;
  }

  &__title {
    color: var(--c-title);
    font-family: var(--second-family);
    font-size: 72rem;
    line-height: 82rem;
    margin-top: 30rem;
  }

  &__desc {
    font: var(--desc);
    color: var(--c-desc);
    line-height: 24rem;
    margin-top: 40rem;
  }

  &__btn {
    display: flex;
    gap: 20rem;
    margin-top: 54rem;
  
  }

  &__first {
    color: rgb(255, 255, 255);
    font-family: var(--second-family);
    font-size: 14rem;
    font-weight: 500;
    line-height: 30rem;
    text-align: center;
  }

  &__second {
    color: rgb(255, 184, 0);
    font-family: var(--second-family);
    font-size: 14rem;
    font-weight: 500;
    line-height: 30rem;
    text-align: center;
    border: 1rem solid rgb(255, 184, 0);
    background: none;
    transition: var(--transition);
    &:hover{
      background: rgb(255, 184, 0);
    }
  }

  &__img {
    display: flex;
    img{
      flex-shrink: 0;
    }
  }
}
