.respirators {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 133rem;
  margin-bottom: 101rem;
  @include tablet {
    margin-top: 70rem;
  }

  &__block {
    display: flex;
  }
}
.respirators-info {
  display: flex;
  gap: 25rem;
  @include tablet {
    flex-direction: column;
  }
  &__title {
    font: var(--title);
    line-height: 104%;
    color: var(--c-title);
    line-height: 50rem;
    margin-bottom: 26rem;
  }

  &__text {
    font: var(--desc);
    color: var(--c-desc);
    line-height: 30rem;
    span {
      color: rgb(87, 92, 116);
      font-weight: 700;
    }
  }
  img {
    border-radius: 16rem;
  }
}

.order-one {
  margin-bottom: 80rem;
}
